:root {
	--emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Android Emoji', 'EmojiOne Mozilla', 'Twemoji Mozilla', 'Noto Emoji', 'Segoe UI Symbol', EmojiSymbols;
	--sans-font: system-ui, ui-sans-serif, Helvetica, sans-serif, var(--emoji-font);
	--serif-font: 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, ui-serif, serif, var(--emoji-font);
	--mono-font: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace, var(--emoji-font);
  
	--focus-color: Highlight;
	--link-color: hsl(150, 255, 80);
	--link-color: lch(32.2% 53.21 278.55);
}

@media not (prefers-reduced-motion) {
	:where(html) {
		scroll-behavior: smooth;
	}
}

:where(:target) {
	scroll-margin-top: 2rem;
}

/* Skip links, visually hidden utility */
:where([aria-hidden='false' i][hidden]) {
	display: initial;
}

/* Skip links, visually hidden utilities */
:where([aria-hidden='false' i][hidden]:not(:focus):not(:active)),
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Generic scrolling utility */
:where(div:has(> table):not([class])) {
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;  
}

/* Generic scrolling utility */
.horizontally-scrollable {
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/* Eliminate transitions without disabling JS features relying on startTransition etc. */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 1ms !important;
		transition-duration: 1ms !important;
	}
}

/* Focus indicator */
:where(:focus:not(:focus-visible)) {
	outline: none;
}

/* Focus indicator */
:where(:focus:focus-visible) {
	outline: 3px solid var(--focus-color);
	outline-offset: 3px;
}

/* Indicate element is busy */
:where([aria-busy='true' i]) {
	cursor: progress;
}

/* Indicate element is disabled */
:where([aria-disabled='true' i], [disabled], :disabled) {
	cursor: not-allowed;
}

:where(html) {
	font-family: var(--sans-font);
	line-height: 1.375;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

:where(body) {
	display: grid;
	grid-template-columns: 1fr min(65rem, 90%) 1fr;
	margin: 0;
}

:where(body > *) {
	grid-column: 2;
}

:where(body > footer),
:where(body > header) {
	grid-column: 1 / -1;
}

:where(a) {
	color: var(--link-color);
	font-weight: 500;
	text-underline-offset: 0.25em;
}

:where(strong) {
	font-weight: 600;
}

:where(b) {
	font-weight: 700;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--serif-font);
	margin-block: 1rem 0.5rem;
	line-height: 1.125;
}

:where(code, kbd, pre, samp) {
	font-family: var(--mono-font);
	font-size: 1em;
}

:where(h1) {
	font-size: 3rem;
}

:where(h2) {
	font-size: 2.25rem;
}

:where(h3) {
	font-size: 1.75rem;
}

:where(h4) {
	font-size: 1.5rem;
}

:where(h5) {
	font-size: 1.375rem;
}

:where(h6) {
	font-size: 1.25rem;
}

:where(p) {
	font-size: 1.25em;
}

:where(small) {
	font-size: 0.875em;
}

:where(sub, sup) {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

:where(sub) {
	bottom: -0.25em;
}

:where(sup) {
	top: -0.5em;
}

:where(hr) {
	box-sizing: content-box;
	color: inherit;
	height: 0;
	overflow: visible;
}

:where(li) {
	margin: 0.25rem 0;
}

:where(li + li) {
	margin-top: 0.75rem;
}

/* List inside list margin reset */
:where(dl, ol, ul) :where(dl, ol, ul) {
	margin: 0;
}

/* List style reset utility (workaround Safari VoiceOver removing list semantics based on CSS list-style) */
:where([role='list']:is(ol, ul)) {
	list-style: none;
	padding: 0;
}

:where([role='list']:is(ol, ul) > li) {
  margin: 0;
}

:where(iframe) {
	border-style: none;
}

:where(audio, canvas, iframe, img, progress, svg, video) {
	vertical-align: middle;
}

:where(iframe, img, input, video, select, textarea) {
	height: auto;
	max-width: 100%;
}

:where(table img) {
	max-width: unset;
}

:where(svg:not([fill])) {
	fill: currentColor;
}

:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
	text-indent: 0;
}

:where(td, th) {
	background-clip: padding-box;
	filter: brightness(1);
}

:where(textarea) {
	margin: 0;
	resize: vertical;
}

:where(button, input, optgroup, select, textarea) {
	font-family: var(--sans-font);
	font-size: 1em;
	line-height: 1.125;
	margin: 0;
}

:where(button, select) {
	text-transform: none;
}

:where(button, [type='button'], [type='reset'], [type='submit'])::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

:where(fieldset) {
	padding: 0;
}

:where(legend) {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

:where([type='search']) {
	-webkit-appearance: textfield;
	appearance: textfield;
}

:where([type='search'])::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5625;
}
