/* Essential font stacks, colors
 * ========================================================================== */

:where(:root) {
	--emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Android Emoji', 'EmojiOne Mozilla',
		'Twemoji Mozilla', 'Noto Emoji', 'Segoe UI Symbol', EmojiSymbols;
	--mono-font-stack: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace, var(--emoji-font);

	--default-font: sans-serif, var(--emoji-font);
	--heading-font: serif, var(--emoji-font);
	--marker-font: var(--mono-font-stack);
	--mono-font: var(--mono-font-stack);

	--highlight-10: rgb(255 255 255 / 10%);
	--highlight-30: rgb(255 255 255 / 30%);
	--highlight-50: rgb(255 255 255 / 50%);
	--highlight-70: rgb(255 255 255 / 70%);
	--highlight-90: rgb(255 255 255 / 90%);
	--shadow-10: rgb(0 0 0 / 10%);
	--shadow-30: rgb(0 0 0 / 30%);
	--shadow-50: rgb(0 0 0 / 50%);
	--shadow-70: rgb(0 0 0 / 70%);
	--shadow-90: rgb(0 0 0 / 90%);

	/* we do not use LinkText for links (by default) so it "frees" it up to use as AccentColor fallback */
	--accent-color: LinkText;
	--code-color: var(--shadow-10);
	--code-border-color: var(--code-color);
	--code-text-color: currentColor;
	--focus-color: Highlight;
	--hash-underline-color: var(--muted-30);
	--kbd-color: CanvasText;
	--kbd-border-color: var(--muted-30);
	--kbd-text-color: Canvas;
	--link-color: currentColor;
	--mark-color: Mark;
	--mark-border-color: var(--mark-color);
	--mark-text-color: MarkText;
	--muted-color: GrayText;
	--negative-color: crimson;
	--negative-color-text: white;
	--positive-color: seagreen;
	--positive-color-text: white;

	/* Chrome Windows has a light mode ButtonBorder color of #000 which is insanely dark! So... a workaround. */
	--button-border: ButtonBorder;
	/* Chrome Windows has a dark mode ButtonFace color of #6B6B6B which is way too light! So... a workaround. */
	--button-face: ButtonFace;

	/* Strong focus indicator */
	--focus-indication: 3px solid var(--focus-color);
	--focus-inside: -3px;
	--focus-outside: 3px;

	--content-width: 45rem;
}

@supports (color: AccentColor) {
	:where(:root) {
		--accent-color: AccentColor;
	}
}

/* Color utility */
:where([data-color~='canvas' i]) {
	background-color: Canvas;
	color: CanvasText;
}

:where([data-color~='contrast' i]) {
	background-color: CanvasText;
	color: Canvas;
}

:where([data-color*='dark' i][data-color*='light' i]) {
	color-scheme: dark light;
}

:where([data-color*='light' i]:not([data-color*='dark' i])) {
	color-scheme: light;
	--muted-10: var(--shadow-10);
	--muted-30: var(--shadow-30);
	--muted-50: var(--shadow-50);
	--muted-70: var(--shadow-70);
	--muted-90: var(--shadow-90);

	--button-border: var(--muted-10);
}

/* muted variants like this are especially useful when color-mix is not supported */
@media (prefers-color-scheme: light) {
	:where(:root) {
		--muted-10: var(--shadow-10);
		--muted-30: var(--shadow-30);
		--muted-50: var(--shadow-50);
		--muted-70: var(--shadow-70);
		--muted-90: var(--shadow-90);

		--button-border: var(--muted-10);
	}
}

:where([data-color*='dark' i]:not([data-color*='light' i])) {
	color-scheme: dark;
	--muted-10: var(--highlight-10);
	--muted-30: var(--highlight-30);
	--muted-50: var(--highlight-50);
	--muted-70: var(--highlight-70);
	--muted-90: var(--highlight-90);

	--button-face: Canvas;
}

@media (prefers-color-scheme: dark) {
	:where(:root) {
		--muted-10: var(--highlight-10);
		--muted-30: var(--highlight-30);
		--muted-50: var(--highlight-50);
		--muted-70: var(--highlight-70);
		--muted-90: var(--highlight-90);

		--button-face: Canvas;
	}
}

@supports (color: color-mix(in oklab, black, white 50%)) {
	:where(:root:not([data-color-mix='false'] i)) {
		--focus-color: color-mix(in oklab, color-mix(in oklab, Highlight, VisitedText 30%), currentColor 12.5%);
		--kbd-color: color-mix(in oklab, CanvasText, currentColor 10%);
		--kbd-border-color: color-mix(in oklab, CanvasText, currentColor 30%);
		--kbd-text-color: color-mix(in oklab, Canvas, currentColor 10%);
		--mark-color: color-mix(in oklab, Mark, currentColor 20%);
		--mark-text-color: color-mix(in oklab, MarkText, currentColor 10%);
		--accent-color: color-mix(in oklab, LinkText, CanvasText 35%);
		/* 65% is enough to pass WCAG AAA for normal text (black on white) */
		--muted-color: color-mix(in oklab, transparent, currentColor 65%);
		--negative-color: color-mix(in oklab, crimson, CanvasText 12.5%);
		--positive-color: color-mix(in oklab, seagreen, CanvasText 12.5%);
	}

	@supports (color: AccentColor) {
		:where(:root:not([data-color-mix='false'] i)) {
			--accent-color: color-mix(in oklab, AccentColor, CanvasText 35%);
		}
	}
}

/* RTL utility
 * ========================================================================== */

:where(:root),
:where([dir='ltr' i]) {
	--dir-adjust: 1;
}

:where([dir='rtl' i]) {
	--dir-adjust: -1;
}

/* Usability
 * ========================================================================== */

/* Convey location in document better by smooth scrolling */
@media not all and (prefers-reduced-motion) {
	:where(html) {
		scroll-behavior: smooth;
	}
}

/* Strong focus indicator */
:where(:focus:not(:focus-visible)) {
	outline: none;
}

:where(:focus-visible) {
	outline: var(--focus-indication);
	outline-offset: var(--focus-outside);
}

/* Indicate element is busy */
:where([aria-busy='true' i]) {
	cursor: progress;
}

/* Indicate element is disabled */
:is([aria-disabled='true' i], [disabled], :disabled) {
	cursor: not-allowed;
}

/* Reserve extra space when linking to hash anchors */
:where(:target) {
	scroll-margin-top: 2rem;
}

/* Document
 * ========================================================================== */

:where(:root) {
	color-scheme: dark light;
	font-family: var(--default-font);
	/* Use equal width numbers when available */
	font-feature-settings: 'tnum';
	/* Use equal width numbers when available */
	font-variant-numeric: tabular-nums;
	/* The old way to allow stretching body to 100% viewport height */
	height: 100%;
	/* Improve readability */
	line-height: 1.5;
	/* Four space tab width for visual appeal */
	tab-size: 4;
	/* Remove highlighting on tap in iOS */
	-webkit-tap-highlight-color: transparent;
	/* Disable font size adjustment on orientation changes in iOS */
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	/* Alternate font aliasing on Apple devices */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Sections
 * ========================================================================== */

:where(body) {
	box-sizing: border-box;
	margin: 0;
	min-height: 100%;
}

[data-content-column~='narrow'] {
	--content-width: 35rem;
}

[data-content-column~='small'] {
	--content-width: 40rem;
}

[data-content-column~='medium'] {
	--content-width: 45rem;
}

[data-content-column~='large'] {
	--content-width: 65rem;
}

[data-content-column~="center"] {
	box-sizing: border-box;
	margin-inline: auto;
	padding-inline: 1rem;
	max-width: var(--content-width);
	width: 100%;
}

:where(body:not([data-content-column]), body[data-content-column~='simple']) {
	display: grid;
	grid-template-columns: 1fr min(var(--content-width), 90%) 1fr;
	grid-template-rows: max-content;
}

:where(body:is(:not([data-content-column]), [data-content-column~='simple']) > *) {
	grid-column: 2;
}

:where(body:is(:not([data-content-column]), [data-content-column~='simple']) > footer),
:where(body:is(:not([data-content-column]), [data-content-column~='simple']) > header) {
	align-self: flex-end;
	grid-column: 1 / -1;
}

/* Correct the font size on `h1` elements within `section` and `article` contexts in Chrome, Edge, Firefox, and Safari. */
:where(h1) {
	font-size: 2em;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--heading-font);
	line-height: var(--heading-line-height, inherit);
	/* Have more space above to make heading more a part of the text below. */
	margin-block: 2rem 1rem;
	margin-inline: 0;
}

:where(hgroup > *) {
	margin: 0;
}

:where(hgroup > :is(h1, h2, h3, h4, h5, h6) + p) {
	color: var(--muted-color);
}

/* Grouping content
 * ========================================================================== */

/* Remove the margin on nested lists in Chrome, Edge, and Safari. */
:where(dl, ol, ul) :where(dl, ol, ul) {
	margin-block: 0;
}

/* Win over a global star reset even if it is imported later */
hr {
	box-sizing: border-box;
}

/* Display as rounded divider, support both horizontal and vertical render */
:where(hr) {
	block-size: 0;
	border: 0.125rem solid currentColor;
	border-radius: 0.125rem;
	color: var(--muted-color, inherit);
	inline-size: 100%;
	margin-block: 2rem;
	margin-inline: 0;
	overflow: visible;
}

/* Text-level semantics
 * ========================================================================== */

/* Provide underlined link style for anchor element */
:where(a) {
	color: var(--link-color);
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

/* Add the correct text decoration in Safari. */
:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}

:where(code, kbd, pre, samp) {
	/* Correct the inheritance and scaling of font size in all browsers. */
	font-family: var(--mono-font);
	/* Correct the odd `em` font sizing in all browsers. */
	font-size: 1em;
}

:where(code) {
	background: var(--code-color);
	border-radius: 0.125rem;
	box-shadow: 0 0 0 0.125rem var(--code-border-color);
	color: var(--code-text-color);
	margin-inline: 0.125rem;
	padding-inline: 0.125rem;
}

:where(del) {
	color: var(--negative-color);
}

:where(ins) {
	color: var(--positive-color);
	text-decoration: inherit;
}

:where(kbd) {
	background: var(--kbd-color);
	border-radius: 0.125rem;
	box-shadow: 0 0 0 0.125rem var(--kbd-border-color);
	color: var(--kbd-text-color);
	margin-inline: 0.125rem;
	padding-inline: 0.125rem;
}

:where(mark) {
	background: var(--mark-color);
	box-shadow: 0 0 0 0.125rem var(--mark-border-color);
	color: var(--mark-text-color);
	padding-inline: 0.125rem;
}

/* Increase size from 80% for ease-of-read. */
:where(small) {
	font-size: 87.5%;
}

/* Remove code styling when as direct child of pre or table cell. */
:where(:is(pre, td, th) > code) {
	background: unset;
	border-radius: unset;
	box-shadow: unset;
	color: unset;
	margin-inline: unset;
	padding-inline: unset;
}

/* This is a commonly used combination, add padding for visual appeal. */
:where(pre > code) {
	display: block;
	padding: 1rem;
}

/* Prevent effecting line height in all browsers. */
:where(sub, sup) {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

:where(sub) {
	bottom: -0.25em;
}

:where(sup) {
	top: -0.5em;
}

/* Embedded content
 * ========================================================================== */

/* Remove border for visual appeal. */
:where(iframe) {
	border-style: none;
}

/* Align vertically to center instead of baseline for visual appeal. */
:where(audio, canvas, iframe, img, progress, svg, video) {
	vertical-align: middle;
}

/* Restrict media elements from breaking layout in limited spaces. */
:where(iframe, img, input, video, select, textarea) {
	height: auto;
	max-width: 100%;
}

/* Tabular data
 * ========================================================================== */

/* Fix undesired side-effect for this particular combination. */
:where(table img) {
	max-width: unset;
}

:where(table) {
	/* Remove spacing between table cells by using collapsed variant. */
	border-collapse: collapse;
	/* Correct table border color in Chrome, Edge, and Safari. */
	border-color: currentColor;
	/* Remove text indentation from table contents in Chrome, Edge, and Safari. */
	text-indent: 0;
}

/* Workaround glitch in Chrome and Firefox border rendering when background color is applied to table cell */
:where(td, th) {
	background-clip: padding-box;
	filter: brightness(1);
}

/* Forms
 * ========================================================================== */

/* Reset fieldset for visual appeal. */
:where(fieldset) {
	border: 0 solid transparent;
	margin: 0;
	padding: 0;
}

/* Remove padding to have expected appearance together with the fieldset reset. */
:where(legend) {
	padding: 0;
}

/* Use similar font on controls and inherit it by default. */
:where(button, input, optgroup, select, textarea) {
	font-family: var(--default-font);
	font-size: inherit;
	line-height: 1.5;
}

/* Remove the margin on controls in Safari. */
:where(button, input, select) {
	margin: 0;
}

/* Restore monospace font. */
:where([type*='date' i], [type='time' i], [type='month' i], [type='week' i]) {
	font-family: var(--mono-font);
}

/* Safari zooms if size is different than 16px */
:where(input, optgroup, select, textarea) {
	font-size: 1rem;
}

/* Remove the inheritance of text transform in Firefox. */
:where(button) {
	text-transform: none;
}

/* Correct the inability to style buttons in iOS and Safari. */
:where(button, [type='button' i], [type='reset' i], [type='submit' i]) {
	-webkit-appearance: button;
}

/* Remove italics for easier reading by default. */
:where(address, optgroup) {
	font-style: normal;
}

/* Resizing both X & Y is hard for some users, and easily breaks layouts. */
:where(textarea) {
	resize: vertical;
}

/* Provide more vertical space by default. */
:where(textarea:not([rows])) {
	height: 9em;
}

/* Interactive
 * ========================================================================== */

/* Add the correct styles in Safari. */
:where(dialog) {
	background-color: Canvas;
	border: solid;
	color: CanvasText;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: fit-content;
}

:where(dialog:not([open])) {
	display: none;
}

/* Add the correct display in all browsers. */
:where(summary) {
	display: list-item;
}

/* Browser engine specific pseudo elements and selectors
 * ========================================================================== */

/* Correct the odd appearance in Chrome and Safari. */
:where([type='search']) {
	-webkit-appearance: textfield;
	appearance: textfield;
}

/* Remove the inner padding in Chrome and Safari on macOS. */
::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* Correct the text style of placeholders in Chrome, Edge, and Safari. */
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5625;
}

/* Change default color picker style. */
::-webkit-color-swatch-wrapper {
	padding: 0;
}

/* Change default color picker style. */
::-webkit-color-swatch {
	border: 0;
	min-block-size: 2.5rem;
	min-inline-size: 2.5rem;
}

/* Change default color picker style. */
::-moz-color-swatch {
	border: 0;
	min-block-size: 2.5rem;
	min-inline-size: 2.5rem;
}

/* Make picker form fields have consistent sizing for when not defining explicit height. */
::-webkit-datetime-edit-fields-wrapper,
::-webkit-calendar-picker-indicator {
	padding: 0;
}

/* Correct the inability to style clickable types in iOS and Safari. */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Remove the additional :invalid styles in Firefox. */
:where(:-moz-ui-invalid) {
	box-shadow: none;
}

/* Not needed in Firefox when using strong focus indicator. */
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
