:where([data-box]) {
	--min-desired-size: unset;
}

[data-box]:where(:not([data-box~='inline' i], [data-box~='column' i], [data-box~='row' i])) {
	contain: layout;
	display: block;
}

:is([data-box~='column' i], [data-box~='row' i]):where(:not([data-box~='inline' i])) {
	display: flex;
}

[data-box~='inline' i]:where(:not([data-box~='column' i], [data-box~='row' i])) {
	display: inline-block;
}

[data-box~='inline' i]:where([data-box~='column' i], [data-box~='row' i]) {
	display: inline-flex;
}

[data-box]:where([hidden]) {
	display: none;
}

[data-box~='column' i] {
	flex-flow: column;
}

[data-box~='row' i] {
	flex-flow: wrap;
}

:where([data-box~='trim' i]) > :first-child {
	margin-block-start: 0;
}

:where([data-box~='trim' i]) > :last-child {
	margin-block-end: 0;
}

:where([data-box~='column' i], [data-box~='row' i]) {
	gap: var(--default-spacing, 16px);
}

:where([data-box]) > * {
	box-sizing: border-box;
	max-inline-size: 100%;
}

:where([data-box~='column' i], [data-box~='row' i]) > * {
	flex: var(--min-desired-size, none);
}
