:where(:root) {
	--mask-chevron-down: url("data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M4 9L12 17L20 9' fill='none' stroke='black' stroke-width='2.5'/></svg>");
}

:where(details) {
	background: var(--muted-10);
	border: 0.125rem solid var(--muted-30);
	border-radius: 0.5rem;
	display: block;
	margin: 1rem 0;
	max-width: 50rem;
	padding: 0 1rem;
}

:where(summary) {
	font-size: var(--font-size-18);
	font-weight: 600;
	margin: 0 -1rem;
	padding: 1rem;
	padding-inline-end: 3rem;
	position: relative;
	user-select: none;
	z-index: 1;
}

:where(summary:focus-visible) {
	border-radius: 0.5rem;
	outline-offset: var(--focus-inside);
}

:where(summary)::marker {
	content: none;
}

:where(summary)::-webkit-details-marker,
:where(summary)::after {
	background: radial-gradient(currentColor 66%, transparent 66%);
	content: '';
	height: 1.5rem;
	margin: 0;
	-webkit-mask-image: var(--mask-chevron-down);
	mask-image: var(--mask-chevron-down);
	position: absolute;
	inset-inline-end: 1rem;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	width: 1.5rem;
}

@media not all and (prefers-reduced-motion) {
	:where(summary)::-webkit-details-marker,
	:where(summary)::after {
		transition: transform var(--ms, 250ms) ease-in-out;
	}
}

:where(details[open] > summary)::-webkit-details-marker,
:where(details[open] > summary)::after {
	transform: translateY(-50%) rotate(180deg);
}

@supports (-webkit-backdrop-filter: blur(0)) {
	:where(summary)::after {
		content: none; /* Prefer ::-webkit-details-marker on Safari because it animates. */
	}
}

:where(details > summary + div) {
	margin: -1rem;
	overflow: hidden;
	padding: 1rem;
}

/* Higher specificity than a global star reset */
:where(details > summary) + div {
	box-sizing: content-box;
}

@supports (contain: content) {
	:where(details > summary + div) {
		contain: content;
		overflow: visible;
	}
}

:where(details[data-open]) {
	--ms: 250ms;
}

:where(details[data-open='false' i]) {
	--opacity: 0;
	--transform: translateY(-50%);
}

:where(details[data-open='true' i]) {
	--opacity: 1;
	--transform: translateY(0%);
}

@media not all and (prefers-reduced-motion) {
	:where(details[data-open] > summary + div) {
		transition: height var(--ms) ease-in-out;
	}
}

:where(details[data-open='false' i] > summary + div) {
	height: 0;
	margin: 0;
	padding: 0;
}

:where(details[data-open='true' i] > summary + div) {
	height: var(--height, auto);
}

:where(details[data-open] > summary + div > div) {
	contain: layout;
	opacity: var(--opacity);
	transform: var(--transform);
	transition: opacity var(--ms) ease-in-out;
}

@media not all and (prefers-reduced-motion) {
	:where(details[data-open] > summary + div > div) {
		transition: opacity var(--ms) ease-in-out, transform var(--ms) ease-in-out;
	}
}

:where(details[data-open='false' i] > summary)::-webkit-details-marker,
:where(details[data-open='false' i] > summary)::after {
	transform: translateY(-50%) rotate(0deg);
}

:where(details[data-open='true' i] > summary)::-webkit-details-marker,
:where(details[data-open='true' i] > summary)::after {
	transform: translateY(-50%) rotate(180deg);
}
