:where(:root) {
	--option-background-color: Field;
	--option-border-color: FieldText;
	--option-color: FieldText;
	--option-muted-color: var(--muted-30);
	--option-size: 1.5rem;
}

@supports (color: color-mix(in lch, black, white 50%)) {
	:where(:root) {
		--option-muted-color: color-mix(in lch, FieldText, Field 50%);
	}
}

:where(
		input:not(
				[type='checkbox' i],
				[type='radio' i],
				[type='range' i],
				[type='file' i],
				[type='color' i],
				[type='image' i]
			),
		select,
		textarea
	) {
	-webkit-appearance: none;
	appearance: none;
	background: var(--option-background-color);
	border: 0.125rem solid var(--option-muted-color);
	border-radius: 0.25rem;
	color: var(--option-color);
	padding: 0.625rem 1rem;
	scroll-padding: 0.625rem 1rem;
}

:where(input):is([type='button' i], [type='reset' i], [type='submit' i]), /* Use <button /> */
[type='datetime' i], /* Use datetime-local */
[type='number' i] /* Use <input type="text" inputmode="numeric" pattern="\d*" /> or <input type="tel" /> */ {
	background: var(--negative-color) !important;
	border-color: var(--negative-color) !important;
	text-decoration: line-through;
}

:where([type='color' i]) {
	background: var(--option-background-color);
	border: 0.125rem solid var(--option-muted-color);
	border-radius: 0.25rem;
	padding: 0.125rem;
}

:where([type='range' i]) {
	--outline: unset;
	--outline-offset: unset;
	-webkit-appearance: none;
	appearance: none;
	background: unset;
	display: inline-grid;
	height: 0.5rem;
	outline: none;
}

:where(label > [type='range' i]) {
	padding: 1.125rem 0 1.375rem;
}

:where([type='range' i]:focus-visible) {
	--outline: var(--focus-indication);
	--outline-offset: calc(var(--focus-outside) * 2);
}

::-webkit-slider-runnable-track {
	background: var(--option-background-color);
	border: 0.125rem solid var(--option-muted-color);
	border-radius: 0.25rem;
	box-sizing: border-box;
	height: 0.5rem;
	outline: var(--outline);
	outline-offset: var(--outline-offset);
}

::-moz-range-track {
	background: var(--option-background-color);
	border: 0.125rem solid var(--option-muted-color);
	border-radius: 0.25rem;
	box-sizing: border-box;
	height: 0.5rem;
	outline: var(--outline);
	outline-offset: var(--outline-offset);
}

::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: var(--option-color);
	border-radius: 50%;
	box-shadow: 0 0 0 0.125rem var(--option-background-color);
	height: 1.5rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%) scale(var(--thumb-scale, 1));
	width: 1.5rem;
}

::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: var(--option-color);
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 0 0.125rem var(--option-background-color);
	height: 1.5rem;
	position: relative;
	top: 50%;
	transform: translateY(0%) scale(var(--thumb-scale, 1));
	width: 1.5rem;
}

:where(:active)::-webkit-slider-thumb {
	--thumb-scale: 1.25;
}

:where(:active)::-moz-range-thumb {
	--thumb-scale: 1.25;
}

:where(select:not([multiple], [size])) {
	/* chevron */
	background-image: linear-gradient(45deg, var(--option-background-color) 22.5%, transparent calc(22.5% + 1px)),
		linear-gradient(315deg, var(--option-background-color) 22.5%, transparent calc(22.5% + 1px)),
		linear-gradient(135deg, var(--option-background-color) 22.5%, transparent calc(22.5% + 1px)),
		linear-gradient(225deg, var(--option-background-color) 22.5%, transparent calc(22.5% + 1px)),
		linear-gradient(45deg, currentColor calc(35% - 1px), transparent 35%),
		linear-gradient(315deg, currentColor calc(35% - 1px), transparent 35%);
	/* 1rem or calc(100% - 1rem) */
	background-position: calc((100% - 2rem) / 2 * (var(--dir-adjust) + 1) + 1rem) calc(50% - 0.125rem);
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-inline-end: 3rem;
}

:where(label) {
	align-items: center;
	align-self: flex-start;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.25rem 0.5rem;
	padding: 0.25rem;
	position: relative;
	user-select: none;
	vertical-align: top;
}

:where(legend + label) {
	margin-top: 1rem;
}

:where(label > *) {
	user-select: text;
}

:where(label > :is(input:not([type='checkbox' i], [type='radio' i]), select, textarea)) {
	flex: 100%;
}

:where(:is(input:not([type='checkbox' i], [type='radio' i]), select, textarea)) ~ [data-text-color='state' i] {
	color: var(--muted-color);
}

:where([aria-invalid='true' i]) ~ [data-text-color='state' i] {
	color: var(--negative-color);
}

:where([aria-invalid='false' i]) ~ [data-text-color='state' i] {
	color: var(--positive-color);
}

:where(label:has(> :is([type='checkbox' i], [type='radio' i]):focus-visible)) {
	outline: var(--focus-indication);
	outline-offset: var(--focus-outside);
}

:where(label:has(> :is([type='checkbox' i], [type='radio' i]):focus-visible) > :focus:not([aria-invalid])) {
	outline: none;
}

:where(:is([type='checkbox' i], [type='radio' i])) {
	-webkit-appearance: none;
	appearance: none;
	aspect-ratio: 1 / 1;
	background: var(--option-background-color);
	border: 0.125rem solid var(--option-border-color);
	color: var(--option-background-color);
	display: inline-grid;
	font-size: calc(var(--option-size) - 0.5rem);
	font-weight: bolder;
	height: var(--option-size);
	line-height: 1;
	place-content: center;
}

@media not all and (prefers-reduced-motion) {
	:where(:is([type='checkbox' i], [type='radio' i])) {
		transition: background 125ms ease-in-out, color 125ms ease-in-out;
	}
}

:where([type='checkbox' i]:not([role='switch' i])) {
	border-radius: 0.25rem;
}

:where([type='checkbox' i][role='switch' i]) {
	--switch-softness: 0.125rem;
	aspect-ratio: 2 / 1;
	background-color: var(--option-background-color);
	background-image: radial-gradient(
		circle,
		currentColor calc(33.333% - var(--switch-softness)),
		transparent calc(33.333% + 1px)
	);
	background-position: calc(var(--option-size) * -0.5);
	background-repeat: no-repeat;
	border-radius: calc(var(--option-size) * 0.5);
	color: var(--option-muted-color);
}

:where([type='radio' i]) {
	background-image: radial-gradient(circle, currentColor 50%, transparent calc(50% + 1px));
	border-radius: 50%;
}

:where(:is([type='checkbox' i][role='switch' i], [type='radio' i]):checked) {
	color: var(--option-color);
}

:where([type='checkbox' i]:not([role='switch' i]):checked) {
	background-color: var(--option-color);
}

:where([type='checkbox' i][role='switch' i]:checked) {
	--switch-softness: 0px;
	background-position: calc(var(--option-size) * 0.5);
}

:where([type='checkbox' i]:not([role='switch' i]))::after {
	content: '\2713';
}

:where(:is(input, select, textarea)[aria-invalid='true' i]) {
	box-shadow: inset 0 -0.125rem 0 var(--negative-color);
	outline-color: var(--negative-color);
}

:where(:is(input, select, textarea)[aria-invalid='false' i]) {
	box-shadow: inset 0 -0.125rem 0 var(--positive-color);
	outline-color: var(--positive-color);
}

:where(:is([type='checkbox' i], [type='radio' i])[aria-invalid]) {
	box-shadow: unset;
}

:where(:is([type='checkbox' i], [type='radio' i])[aria-invalid]:not(:focus-visible)) {
	outline-offset: 2px;
	outline-style: solid;
	outline-width: 2px;
}

/* Indicate element is disabled */
:is([aria-disabled='true' i], [disabled], :disabled) {
	cursor: not-allowed;
	filter: saturate(0.4);
	opacity: 0.6;
}

:where([aria-disabled='true' i], [disabled], :disabled) :is([aria-disabled='true' i], [disabled], :disabled) {
	filter: unset;
	opacity: unset;
}
