:where([data-grid]) {
	--min-desired-size: unset;
}

:where([data-grid]) > * {
	box-sizing: border-box;
	max-inline-size: 100%;
}

[data-grid]:where(:not([data-grid~='inline' i])) {
	display: grid;
}

[data-grid~='inline' i] {
	display: inline-grid;
}

[data-grid]:where([hidden]) {
	display: none;
}

[data-grid~='centerItems' i] {
	place-content: center;
}

:where([data-grid~='stackItems' i] > *) {
	grid-area: 1 / 1;
}

[data-grid~='auto' i] {
	--grid-auto: var(--min-desired-size, 16rem);
	gap: var(--default-spacing, 16px);
	/* I think this was stolen somewhere from https://moderncss.dev */
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--grid-auto)), 1fr));
	grid-template-rows: unset;
}

[data-grid~='padding' i] {
	padding-inline: var(--default-grid-padding-medium, 15%);
}

[data-grid~='paddingStart' i] {
	padding-inline-start: var(--default-grid-padding-large, 30%);
}

[data-grid~='paddingEnd' i] {
	padding-inline-end: var(--default-grid-padding-large, 30%);
}
