:where(:root) {
	--marker-font: var(--mono-font-stack);
	--ol-indent: 2em;
	--ul-indent: 1.375em;
}

/* List that aligns to content next to floats. */
:where(ol:not([role='list' i])) {
	margin-block: var(--default-spacing, 16px);
	margin-inline: 0 var(--ol-indent);
	padding: 0;
	transform: translateX(calc(var(--dir-adjust) * var(--ol-indent)));
}

/* List that aligns to content next to floats. */
:where(ul:not([role='list' i])) {
	margin-block: var(--default-spacing, 16px);
	margin-inline: 0 var(--ul-indent);
	padding: 0;
	transform: translateX(calc(var(--dir-adjust) * var(--ul-indent)));
}

/* Guarantee equal width numbers by using monospace font. */
:where(li)::marker {
	font-family: var(--marker-font);
	font-size: 1em;
	line-height: 1.45rem;
}

/* Give more spacing for list items. */
:where(:is(ol, ul):not([role='list' i]) > li) {
	margin-block: calc(var(--default-spacing, 16px) * 0.25);
}
