/* List style reset utility (workaround Safari VoiceOver removing list semantics based on CSS list-style) */
:where([role='list' i]:is(ol, ul)) {
	list-style: none;
	margin: 0;
	padding: 0;
	transform: none;
}

:where([role='list' i]:is(ol, ul) > li) {
	margin: 0;
}
