/* List that aligns to content next to floats. */
:where(ol:not([role='list'])) {
	margin-block: 1rem;
	margin-inline: 0 var(--ol-indent);
	padding: 0;
	transform: translateX(calc(var(--dir-adjust) * var(--ol-indent)));
}

/* List that aligns to content next to floats. */
:where(ul:not([role='list'])) {
	margin-block: 1rem;
	margin-inline: 0 var(--ul-indent);
	padding: 0;
	transform: translateX(calc(var(--dir-adjust) * var(--ul-indent)));
}

/* Guarantee equal width numbers by using monospace font. */
:where(li)::marker {
	font-family: var(--marker-font);
	font-size: 1em;
	line-height: 1.45rem;
}
